
@model ADL.Models.FormValues

@{
    ViewBag.Title = "Index";
}

@{
    var csharpVarieable = "Help me, I'm trapped in your screen D: ";
}

<div class="jumbotron form-container">
    <h2>@csharpVarieable</h2>
</div>

<div class="form-container">
    @using (Html.BeginForm("Submit", "Form", FormMethod.Post))
    {
        <div>
            @Html.TextBoxFor(model => model.FirstName, new
            {
                id = "firstname",
                @class = "form-control",
                type = "text",
                autocomplete = "off",
                placeholder = "Förnamn"
            })

        </div>
        <div>
            @Html.TextBoxFor(model => model.Town, new
            {
                id = "Town",
                @class = "form-control",
                type = "text",
                autocomplete = "off",
                placeholder = "hemstad"
            })
        </div>
        <div>
            @Html.TextBoxFor(model => model.Country, new
            {
                id = "Country",
                @class = "form-control",
                type = "text",
                autocomplete = "off",
                placeholder = "Hemland"
            })
        </div>
        <div>
            @Html.TextBoxFor(model => model.Age, new
            {
                id = "Age",
                @class = "form-control",
                type = "number",
                autocomplete = "off",
                placeholder = "Ålder"
            })
        </div>
        <div>
            @Html.TextBoxFor(model => model.FavoriteColor, new
            {
                id = "FavoriteColor",
                @class = "form-control",
                type = "text",
                autocomplete = "off",
                placeholder = "Din favoritfärg"
            })
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <br />
                <button type="submit" class="btn btn-primary btn-block " id="button" name="LoginButton" value="sendform" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Var god vänta">
                    Submit!!!!
                </button>
            </div>
        </div>

    }
</div>
