
@model ADL.Models.CookieValues

@using (Html.BeginForm("Submit", "Form", FormMethod.Post))
{
    <div class="form-container">
        <div>
            @Html.TextBoxFor(model => model.kakor, new
            {
                id = "kakor",
                type="text",
                placeholder = "vad blir det för kakor?",
                required= "required"
            }
                )
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-block " id="button" name="LoginButton" value="sendform" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Var god vänta">
                Skicka
            </button>
        </div>
    </div>
}

@*@{
    ViewBag.Title = "Kompetenslunch";
}*@


@*<div class="col-lg-3"></div>*@
@*<div>    
    <div class="form-container">
        @using (Html.BeginForm("Submit", "Form", FormMethod.Post))
        {
            <div>
                @Html.TextBoxFor(model => model.FirstName, new
           {
               id = "firstname",
               @class = "form-control",
               type = "text",
               autocomplete = "off",
               placeholder = "Förnamn",
               required="required"
           })

            </div>
            <div>
                @Html.TextBoxFor(model => model.Town, new
           {
               id = "Town",
               @class = "form-control",
               type = "text",
               autocomplete = "off",
               placeholder = "Hemstad",
               required = "required"
           })
            </div>
            <div>
                @Html.TextBoxFor(model => model.Country, new
           {
               id = "Country",
               @class = "form-control",
               type = "text",
               autocomplete = "off",
               placeholder = "Hemland",
               required = "required"
           })
            </div>
            <div>
                @Html.TextBoxFor(model => model.Age, new
           {
               id = "Age",
               @class = "form-control",
               type = "number",
               autocomplete = "off",
               placeholder = "Ålder",
               required = "required"
           })
            </div>
            @Html.HiddenFor(model => model.FavoriteColor, new { Value = "Grön", id = "colorValue" })
            <div>
                <select class="btn _select_color dropdown-toggle" id="ColorDropdown" style="width: 100%">
                    <option value="#000000" style="background-color: #ffffff">Vit</option>
                    <option value="#0000ff" style="background-color: #0000ff">Blå</option>
                    <option value="#00ff00" style="background-color: #00ff00">Grön</option>
                    <option value="#ff0000" style="background-color: #ff0000">Röd</option>
                    <option value="#ff0000" style="background-color: #ffff00">Gul</option>
                    <option value="#A52A2A" style="background-color: #A52A2A">Brun</option>
                    <option value="#ffa500" style="background-color: #ffa500">Orange</option>
                    <option value="#ffc0cb" style="background-color: #ffc0cb">Rosa</option>
                    <option value="#C0c0c0" style="background-color: #C0c0c0">Silver</option>
                    <option value="#000080" style="background-color: #000080">Marinblå</option>
                    <option value="#800080" style="background-color: #800080">Lila</option>
                    <option value="#808000" style="background-color: #808000">Olivgrön</option>
                </select>
            </div>
            <div class="row">
                <br />
                <button type="submit" class="btn btn-primary btn-block " id="button" name="LoginButton" value="sendform" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Var god vänta">
                    Skicka
                </button>
            </div>

        }
    </div>
</div>*@

@*<script src="//code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var color = $("#ColorDropdown option:selected").val();
        $('select[id="ColorDropdown"]').change(function() {
            color = $("#ColorDropdown option:selected").val();
            $("#colorValue").val(color);
        });
    });
</script>*@