@model ADL.Models.FormValues
<div class="alert-info">
    <div>
        @Model.FirstName
    </div>
    <div>
        @Model.Town
    </div>
    <div>
        @Model.Country
    </div>
    <div>
        @Model.Age
    </div>
    <div>
        @Model.FavoriteColor
    </div>
</div>