<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/CSS/theme")
    @Styles.Render("~/CSS/CustomCss/css")
    @Styles.Render("~/CSS/bootstrap-colorpicker/")
    @Scripts.Render("~/CSS/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/colorPicker")
    @RenderSection("scripts", required: false)
</body>
</html>
